@{
    ViewBag.Title = "Home Page";
}

<h1>AngularJS Start</h1>
<hr />

<!-- First Example-->
<div class="col-md-12">
    <h2>First Example</h2>
    Enter Your Name:<input type="text" ng-model="name" /><br />
    Hello <label ng-bind="name"></label>
</div>
<hr />
<!-- Second Example-->
<div class="col-md-12">
    <h2>Second Example</h2>
    Enter Number to multiply:<br />
    <input type="text" ng-model="Num1" /><br />X<br />
    <input type="text" ng-model="Num2" /><br />= <span> {{Num1 * Num2}}</span>
</div>
<hr />

